<div class="form__card">
	<a class="card__content" href="/purchase-info?id={{id}}">
		<small class="card__id">ID: {{id}}</small>
		<h1 class="card__title"><span class="card__id form__grid">Товари</span> {{product}}</h1>
		<b class="card__title">
			<span class="card__id form__grid">Сума замовлення</span> {{totalPrice}} ₴
		</b>
		<b class="card__title">
			<span class="card__id form__grid">Нараховані бонуси</span> {{bonus}} ₴
		</b>
	</a>
</div>